<!-- <svg width="960" height="500">

</svg> -->
<div id="cssload-loader">
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
	<div class="cssload-dot"></div>
</div>
<h1 class="main-header">League of Legends Top Players 2017 Season</h1>
<div class="main-wrapper">
  <div class="side-bar-container">

    <div class="forms-container">
      <div class="question"><i class="fa fa-question" aria-hidden="true"></i></div>
      <div class="tip-box">
        <span>Each circle represents a player<br/> Circle size represents rank</span>
        <span>Select the X and Y axis you want to see<br/>Click Display to show</span>
        <span>Click the X or Y button to cycle through an axis</span>
        <span>
          Add yourself to the chart
          <br/>
          Your circle will be yellow with a red outline.
          <br />
          Click "Random" to get a random player
        </span>
        <span>Hover over a circle to view player stats<br/>Click on a circle to apply highlighting</span>
      </div>
      <div class="header">
        <h1>Mix it Up!</h1>
      </div>
      <form class="dropdowns">
        <div class="select-wrapper">
          <label>
            <div>X Axis</div>
            <select name="" id="x-axis">

            </select>
          </label>
          <label>
            Y Axis
            <select name="" id="y-axis">

            </select>
          </label>
        </div>
        <input type="submit" class="submit" id="axis-submit" value="DISPLAY"/>
      </form>
      <h1 class="iterate-header">Auto Axis</h1>
      <div class="iterate">
        <button class="submit x-button">X</button>
        <button class="submit y-button">Y</button>
      </div>
      <form class="playerinput">
        <h2>How Do You Stack Up?</h2>
        <label class="input-label">
          <input type="text" class="input" placeholder="Summoner name"/>
        </label>

        <div class="error">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp; Can't find player. Try again.
        </div>

        <input type="submit" class="submit" value="GO"/>
				<div class="submit" id="random">RANDOM</div>
      </form>
      <div class="personal-links">
        <span><i class="fa fa-github-alt" aria-hidden="true"></i>&nbsp;<a href="https://github.com/jasobs10" target="_blank">Github</a></span><span><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;<a href="https://www.linkedin.com/in/jasobs10/" target="_blank">LinkedIn</a></span><span><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;<a href="http://jasonliu.us" target="_blank">Portfolio</a></span>
      </div>
    </div>
  </div>
  <div class="chart-container">
		<svg width="800" height="580" id="scatter">
			<g transform="translate(65,30)" id="main-g"></g>
		</svg>
		<div class="tooltip" style="opacity: 0; left: 585px; top: 368px;"></div>
  </div>
</div>
