<!-- <svg width="960" height="500">

</svg> -->
<div class="side-bar-container">
  <div class="forms-container">
    <div class="header">
      <h1>Mix it Up!</h1>
    </div>
    <form class="dropdowns">
      <div class="select-wrapper">
        <label>
          X axis:&nbsp;
          <select name="" id="x-axis">

          </select>
        </label>
        <label>
          Y axis:&nbsp;
          <select name="" id="y-axis">

          </select>
        </label>
      </div>
      <input type="submit" class="submit" id="axis-submit"/>
    </form>
    <form class="playerinput">
      <h2>How Do You Stack Up?</h2>
      <label class="input-label">
        <input type="text" class="input" placeholder="Summoner name"/>
      </label>

      <input type="submit" class="submit"/>

    </form>
  </div>
</div>
<div class="chart-container">

</div>
