<!-- <svg width="960" height="500">

</svg> -->
<h1 class="main-header">League of Legends Top Players 2017 Season</h1>
<div class="main-wrapper">
  <div class="side-bar-container">
    <div class="forms-container">
      <div class="header">
        <h1>Mix it Up!</h1>
      </div>
      <form class="dropdowns">
        <div class="select-wrapper">
          <label>
            <div>X Axis</div>
            <select name="" id="x-axis">

            </select>
          </label>
          <label>
            Y Axis:&nbsp;
            <select name="" id="y-axis">

            </select>
          </label>
        </div>
        <input type="submit" class="submit" id="axis-submit" value="DISPLAY"/>
      </form>
      <h1 class="iterate-header">Auto Axis</h1>
      <div class="iterate">
        <button class="submit">X</button>
        <button class="submit">Y</button>
      </div>
      <form class="playerinput">
        <h2>How Do You Stack Up?</h2>
        <label class="input-label">
          <input type="text" class="input" placeholder="Summoner name"/>
        </label>

        <input type="submit" class="submit" value="GO"/>

      </form>
    </div>
  </div>
  <div class="chart-container">

  </div>
</div>
