/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 div, h1, h2, h3, body, html, header, nav, a, ul, li, main, section, img, p, form, i, label, input, textarea, span, article, footer, time, button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
   font-size: 100%;
   -webkit-font-smoothing: antialiased;
 }

  input[type="password"],
  input[type="email"],
  input[type="text"],
  input[type="submit"],
  input[type="file"],
  textarea,
  button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"], input[type="password"] {
  border: 0.2px solid rgb(189, 186, 186);
  border-radius: 3px;
}

button,
  input[type="submit"] {
  cursor: pointer;
}



 ul {
   list-style: none;
 }

 li {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }


 body {
   position: relative;
   font-size: 12px;
   font-family: 'Lato', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url('/images/map2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
 }


 .main-header {
  color: #d79922;
  width: 100%;
  text-align: center;
  margin: 2%;
  font-size: 35px;

 }

 .main-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
 }
 .background-tint {
   background-color: rgba(0,0,0,.7); // Tint color

   background-blend-mode: multiply;
 }

  .chart-container {
    flex: 3;
  }



  .forms-container {
    position: relative;
    color: #333132;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    background-color: #e9eaec;
    background-color: rgba(215, 215, 215, 0.83);
    padding: 6% 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    border: 2px solid #d79922;
  }


  h1 {
    font-size: 25px;

  }

  h2 {
    font-size: 20px;

  }

  h1, h2 {
    color: #000e58;
  }

  .iterate {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
    align-item: center;
  }

  .iterate-header {
    font-size: 20px;
    margin-bottom: 1%;
  }

  .iterate button {
    width: 30%;
  }

  .dropdowns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;

  }

  .select-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 55%;

    /*height: 30%;*/
  }

  .select-wrapper label {
    display: flex;
    flex-direction: column;
  }

  div > label {
    display: flex;
    align-items: center;

  }

  #random {
    cursor: pointer;
  }

  .input-label {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  input[type="text"] {
    background-color: white;
    padding: 2% 4%;
    font-size: 13px;
    width: 100%;
  }
  .submit {
    text-align: center;
    padding: 2%;
    color: #333132;
    // color: white;
    background-color: #d79922;
    // background-color: white;
    // border: 1px solid white;
    border: 1px solid #333132;
    border-radius: 4px;
    width: 50%;
    // color: white;
  }

  .submit:hover {
    background-color: rgb(144, 126, 1);

  }

  .playerinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    color: #333132;

  }

  .error {
    text-align: center;
    width: 97%;
    padding: 2.4% 0;
    background-color: rgb(254, 56, 56);
    color: white;
    border-radius: 2px;
    display: none;
  }

  h3 {
    margin-bottom: 2%;
    font-size: 15px;
  }

  .input {
    width: 100%;
  }

  .side-bar-container {
    flex: 1;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

  }

 // .axis path,
 // .axis line {
 //   fill: none;
 //
 //   shape-rendering: crispEdges;
 // }
 //
 // .axis text {
 //   font-family: sans-serif;
 //   font-size: 11px;
 // }

 .tooltip {
   position: absolute;
   /*width: 200px;
   height: 28px;*/
   pointer-events: none;
   background-color: rgba(255, 255, 255, 0.25);
  //  background-color: rgba(215, 153, 34, 0.74);
   color: white;
   width: 500px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0;
   border-radius: 5px;

 }

 .tooltip-chart {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;
   align-items: center;
 }



 .axis-label {
   font-size: 20px;
   color: rgb(208, 206, 206);
   fill: #d79922;
 }

 .axis-line {
   stroke: #d79922;

 }

 .axis-line path {
   stroke: #d79922;

 }



 .player-circle {
    stroke: red;
    stroke-width: 3;
    fill: yellow;

 }

 .highlight-circle {
   stroke: red;
   fill: yellow;
   stroke-width: 2;
 }

 .circle {
  //  stroke: white;
  //  stroke-width: .5;
 }

 /*.tooltip-show {
   background-color: rgba(0,0,0, .5);
   color: white;
   width: 20%;
   text-align: center;
   display: flex;

 }*/

 h3 {
   font-size: 18px;
   font-weight: 800;
   color: rgb(255, 188, 61);
 }

 article {
   font-size: 15px;
   color: rgb(255, 188, 61);
 }

 h3, article {

 }

 .tick line {
   stroke: #d79922;
 }

 .stop {
   background-color: rgb(207, 0, 0);
   color: white;
 }

.piechart {
  width: 80%;

}

// .piesvg {
//   width: 140px;
// }

// .pietext {
//   font-size: 13px;
//   font-family: sans-serif;
//   color: #d79922;
// }

.arc text {
  font: 11px sans-serif;
  text-anchor: middle;

}

.arc path {
  stroke: #fff;
}

circle:hover {
  cursor: pointer;
}

.personal-links {
  margin-top: 2%;
  width: 90%;
  display: flex;
  justify-content: space-around;

}

a {
  cursor: pointer;
}

a:hover {
  color: black;
}
i {
  align-self: flex-start;
}

.personal-links > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  // width: 25%;
  // justify-content: space-between;
}

// .cssload-container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
// 	width: 117px;
// 	margin: 0 auto;
//   display: none;
// }
#cssload-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 171px;
	height: 171px;
	margin: auto;
  display: none;
}
#cssload-loader .cssload-dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 85.5px;
	height: 100%;
	margin: auto;
}
#cssload-loader .cssload-dot:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 85.5px;
	height: 85.5px;
	border-radius: 100%;
	transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
}
#cssload-loader .cssload-dot:nth-child(7n+1) {
	transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
}
#cssload-loader .cssload-dot:nth-child(7n+1):before {
	background: rgb(0,255,128);
	animation: cssload-load 0.92s linear 0.12s infinite;
		-o-animation: cssload-load 0.92s linear 0.12s infinite;
		-ms-animation: cssload-load 0.92s linear 0.12s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.12s infinite;
		-moz-animation: cssload-load 0.92s linear 0.12s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+2) {
	transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
}
#cssload-loader .cssload-dot:nth-child(7n+2):before {
	background: rgb(0,255,234);
	animation: cssload-load 0.92s linear 0.23s infinite;
		-o-animation: cssload-load 0.92s linear 0.23s infinite;
		-ms-animation: cssload-load 0.92s linear 0.23s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.23s infinite;
		-moz-animation: cssload-load 0.92s linear 0.23s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+3) {
	transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
}
#cssload-loader .cssload-dot:nth-child(7n+3):before {
	background: rgb(0,170,255);
	animation: cssload-load 0.92s linear 0.35s infinite;
		-o-animation: cssload-load 0.92s linear 0.35s infinite;
		-ms-animation: cssload-load 0.92s linear 0.35s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.35s infinite;
		-moz-animation: cssload-load 0.92s linear 0.35s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+4) {
	transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
}
#cssload-loader .cssload-dot:nth-child(7n+4):before {
	background: rgb(0,64,255);
	animation: cssload-load 0.92s linear 0.46s infinite;
		-o-animation: cssload-load 0.92s linear 0.46s infinite;
		-ms-animation: cssload-load 0.92s linear 0.46s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.46s infinite;
		-moz-animation: cssload-load 0.92s linear 0.46s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+5) {
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
}
#cssload-loader .cssload-dot:nth-child(7n+5):before {
	background: rgb(42,0,255);
	animation: cssload-load 0.92s linear 0.58s infinite;
		-o-animation: cssload-load 0.92s linear 0.58s infinite;
		-ms-animation: cssload-load 0.92s linear 0.58s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.58s infinite;
		-moz-animation: cssload-load 0.92s linear 0.58s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+6) {
	transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
}
#cssload-loader .cssload-dot:nth-child(7n+6):before {
	background: rgb(149,0,255);
	animation: cssload-load 0.92s linear 0.69s infinite;
		-o-animation: cssload-load 0.92s linear 0.69s infinite;
		-ms-animation: cssload-load 0.92s linear 0.69s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.69s infinite;
		-moz-animation: cssload-load 0.92s linear 0.69s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+7) {
	transform: rotate(315deg);
}
#cssload-loader .cssload-dot:nth-child(7n+7):before {
	background: magenta;
	animation: cssload-load 0.92s linear 0.81s infinite;
		-o-animation: cssload-load 0.92s linear 0.81s infinite;
		-ms-animation: cssload-load 0.92s linear 0.81s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.81s infinite;
		-moz-animation: cssload-load 0.92s linear 0.81s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+8) {
	transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
}
#cssload-loader .cssload-dot:nth-child(7n+8):before {
	background: rgb(255,0,149);
	animation: cssload-load 0.92s linear 0.92s infinite;
		-o-animation: cssload-load 0.92s linear 0.92s infinite;
		-ms-animation: cssload-load 0.92s linear 0.92s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.92s infinite;
		-moz-animation: cssload-load 0.92s linear 0.92s infinite;
}



@keyframes cssload-load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@-o-keyframes cssload-load {
	100% {
		opacity: 0;
		-o-transform: scale(1);
	}
}

@-ms-keyframes cssload-load {
	100% {
		opacity: 0;
		-ms-transform: scale(1);
	}
}

@-webkit-keyframes cssload-load {
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes cssload-load {
	100% {
		opacity: 0;
		-moz-transform: scale(1);
	}
}

.question {
  position: absolute;
  top: 1%;
  left: 92%;
  font-size: 18px;
  width: 20px;
  cursor: help;
  text-align: center;
}

select {
  cursor: pointer;
}

.tip-box {
  position: absolute;
  top: 8%;
  left: 25%;
  text-align: center;
  width: 130%;
  height: 50%;
  padding: 4%;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // display: none;

}

.show {
  display: block;
}
