/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 div, h1, h2, body, html, header, nav, a, ul, li, main, section, img, p, form, i, label, input, textarea, span, article, footer, time, button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
   font-size: 100%;
   -webkit-font-smoothing: antialiased;
 }

  input[type="password"],
  input[type="email"],
  input[type="text"],
  input[type="submit"],
  input[type="file"],
  textarea,
  button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"], input[type="password"] {
  border: 0.2px solid rgb(189, 186, 186);
  border-radius: 3px;
}

button,
  input[type="submit"] {
  cursor: pointer;
}



 ul {
   list-style: none;
 }

 li {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }


 body {
   font: 11px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 .axis text {
   font-family: sans-serif;
   font-size: 11px;
 }

 .dot {
   stroke: #000;
 }

 .tooltip {
   position: absolute;
   width: 200px;
   height: 28px;
   pointer-events: none;
 }

 .axis-label {
   font-size: 20px;
 }
