/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 div, h1, h2, h3, body, html, header, nav, a, ul, li, main, section, img, p, form, i, label, input, textarea, span, article, footer, time, button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
   font-size: 100%;
   -webkit-font-smoothing: antialiased;
 }

  input[type="password"],
  input[type="email"],
  input[type="text"],
  input[type="submit"],
  input[type="file"],
  textarea,
  button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"], input[type="password"] {
  border: 0.2px solid rgb(189, 186, 186);
  border-radius: 3px;
}

button,
  input[type="submit"] {
  cursor: pointer;
}



 ul {
   list-style: none;
 }

 li {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }


 body {
   font-size: 12px;
   font-family: 'Lato', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url('/images/map2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
 }


 .main-header {
  color: #d79922;
  width: 100%;
  text-align: center;
  margin: 2%;
  font-size: 35px;

 }

 .main-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
 }
 .background-tint {
   background-color: rgba(0,0,0,.7); // Tint color

   background-blend-mode: multiply;
 }

  .chart-container {
    flex: 3;
  }



  .forms-container {
    color: #333132;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    background-color: #e9eaec;
    background-color: rgba(215, 215, 215, 0.83);
    padding: 6% 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    border: 2px solid #d79922;



  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;

  }

  h1, h2 {
    color: #000e58;
  }

  .iterate {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
    align-item: center;
  }

  .iterate-header {
    font-size: 20px;
    margin-bottom: 1%;
  }

  .iterate button {
    width: 30%;
  }

  .dropdowns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;

  }

  .select-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 55%;

    /*height: 30%;*/
  }

  .select-wrapper label {
    display: flex;
    flex-direction: column;
  }

  div > label {
    display: flex;
    align-items: center;

  }

  .input-label {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  input[type="text"] {
    background-color: white;
    padding: 2% 4%;
    font-size: 13px;
    width: 100%;
  }
  .submit {
    text-align: center;
    padding: 2%;
    color: #333132;
    // color: white;
    background-color: #d79922;
    // background-color: white;
    // border: 1px solid white;
    border: 1px solid #333132;
    border-radius: 4px;
    width: 50%;
    // color: white;
  }

  .submit:hover {
    background-color: rgb(144, 126, 1);

  }

  .playerinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    color: #333132;

  }

  h3 {
    margin-bottom: 2%;
    font-size: 15px;
  }

  .input {
    width: 100%;
  }

  .side-bar-container {
    flex: 1;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

 // .axis path,
 // .axis line {
 //   fill: none;
 //
 //   shape-rendering: crispEdges;
 // }
 //
 // .axis text {
 //   font-family: sans-serif;
 //   font-size: 11px;
 // }

 .tooltip {
   position: absolute;
   /*width: 200px;
   height: 28px;*/
   pointer-events: none;
   background-color: rgba(255, 255, 255, 0.25);
   color: white;
   width: 500px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0;
   border-radius: 5px;

 }

 .tooltip-chart {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;
   align-items: center;
 }



 .axis-label {
   font-size: 20px;
   color: rgb(208, 206, 206);
   fill: #d79922;
 }

 .axis-line {
   stroke: #d79922;

 }

 .axis-line path {
   stroke: #d79922;

 }



 .player-circle {
    stroke: red;
    stroke-width: 3;
    fill: yellow;

 }

 .circle {
  //  stroke: white;
  //  stroke-width: .5;
 }

 /*.tooltip-show {
   background-color: rgba(0,0,0, .5);
   color: white;
   width: 20%;
   text-align: center;
   display: flex;

 }*/

 h3 {
   font-size: 18px;
 }

 article {
   font-size: 15px;
 }

 .tick line {
   stroke: #d79922;
 }

 .stop {
   background-color: rgb(207, 0, 0);
   color: white;
 }

.piechart {
  width: 80%;

}

// .piesvg {
//   width: 140px;
// }

// .pietext {
//   font-size: 13px;
//   font-family: sans-serif;
//   color: #d79922;
// }

.arc text {
  font: 11px sans-serif;
  text-anchor: middle;

}

.arc path {
  stroke: #fff;
}
