<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/images/scatter.png" sizes="16x16">
    <title>League Of Numbers</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rasa:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/7e2cac5de9.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body class="background-tint">

    <%= yield %>
  </body>
</html>
