<!DOCTYPE html>
<html>
  <head>
    <title>League Of Numbers</title>
    <%= csrf_meta_tags %>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
